:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

body.no-cursor {
    cursor: none;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main .background-video {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

/* Custom cursor */

#custom-cursor {
    pointer-events: none;
    position: absolute;
    width: 120px;
    aspect-ratio: 1/1;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s;
    background-image: url(./images/sprites/rotating-earth.png);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    animation: traverse-sprite 2s steps(239) infinite;
}

#custom-cursor.hot {
    background-image: url(./images/sprites/rotating-sandal.png);
    animation: traverse-sprite 2s steps(59) infinite;
    width: 150px;
}

#custom-cursor.cold {
    background-image: url(./images/sprites/rotating-boot.png);
    animation: traverse-sprite 2s steps(47) infinite;
}

@keyframes traverse-sprite {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}

#custom-cursor.hidden {
    opacity: 0;
}

/* Initial screen */

#initial-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#initial-screen #title {
    margin: calc(40vh - 5.5rem) 0 0;
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

#initial-screen #search-bar {
    background-color: transparent;
    color: white;
    caret-color: white;
    font-size: 1.5rem;
    width: min(500px, 80%);
    margin-top: 10px;
    padding: 10px;
    background-image: url('./images/search-icon.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    border-style: none;
    border-bottom: solid 4px white;
}

#initial-screen #search-bar::placeholder {
    color: white;
}

#initial-screen #search-bar:focus-visible {
    outline: none;
}

#initial-screen .error-message-container {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    color: red;
}

#initial-screen .error-message-container.hidden {
    display: none;
}

#initial-screen .error-message-icon {
    width: 1.5rem;
}

#initial-screen #custom-cursor-toggle {
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}

body.no-cursor #initial-screen #custom-cursor-toggle {
    border: solid 1px rgba(255, 255, 255, 0.8);
}

#initial-screen #custom-cursor-toggle:hover {
    opacity: 1;
}

#initial-screen #custom-cursor-toggle:after {
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#initial-screen #custom-cursor-toggle:hover:after {
    width: 90%;
    left: 5%;
}

/* Information screen */

#weather-information-screen {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content minmax(min-content, 1fr) min-content;
    grid-template-areas:
        'top top'
        'center center'
        'bottom-left bottom-right';
    box-sizing: border-box;
    padding: 1.5rem;
}

#weather-information-screen .wrapper#top {
    grid-area: top;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    font-size: 2rem;
    font-weight: 900;
    filter: drop-shadow(0px 0px 2px rgb(60 60 60));
}

#weather-information-screen #go-back-button {
    font-size: 2rem;
    cursor: pointer;
    filter: brightness(0.8);
    transition: filter 0.2s;
}

#weather-information-screen p#city-title {
    margin: 0;
}

#weather-information-screen #go-back-button:hover {
    filter: brightness(1);
}

#weather-information-screen .wrapper#central {
    grid-area: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    filter: drop-shadow(0px 0px 2px rgb(60 60 60));
}

#weather-information-screen img#weather-icon {
    width: min(400px, 70%);
}

#weather-information-screen p#temperature {
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
}

#weather-information-screen p#units-toggle {
    margin: 0;
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
}

#weather-information-screen p#units-toggle:after {
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#weather-information-screen p#units-toggle:hover:after {
    width: 100%;
    left: 0;
}

#weather-information-screen .wrapper#bottom-left {
    grid-area: bottom-left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 1rem;
    filter: drop-shadow(0px 0px 2px rgb(60 60 60));
}

#weather-information-screen .details {
    display: flex;
}

#weather-information-screen .details-icon {
    width: 2rem;
    margin-right: 0.5rem;
}

#weather-information-screen .details > .title {
    margin-right: 1rem;
}

#weather-information-screen .details > .value {
    font-weight: 900;
}

#weather-information-screen .wrapper#bottom-right {
    grid-area: bottom-right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    filter: drop-shadow(0px 0px 2px rgb(60 60 60));
}

#weather-information-screen .wrapper#bottom-right #weather {
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
}

#weather-information-screen .wrapper#bottom-right #weather-description {
    margin: 0;
    font-size: 1.5rem;
}

/* Loading screen */

#loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    animation: fade-in 0.05s ease-in forwards;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loading-text {
    margin: 0;
    animation: breath 1.5s linear infinite;
}

@keyframes breath {
    0% {
        opacity: 0;
    }
    40%,
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Media queries for responsiveness */

@media (orientation: portrait), (max-width: 600px) {
    :root {
        font-size: 10px;
    }
    #initial-screen #title {
        font-size: 2.5rem;
    }
    #initial-screen #custom-cursor-toggle {
        display: none;
    }
    body {
        cursor: initial !important;
    }
    #custom-cursor {
        display: none !important;
    }
}
